.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    align-content: center;
}

.close_button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-secondary);
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.sub_title {
    color: var(--text-secondary);
    margin-bottom: 1rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 600;
}

.error {
    background-color: var(--error-bg);
    color: var(--error-text);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form_row {
    display: flex;
    gap: 1rem;
}

.form_group {
    flex: 1;
}

.form_actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}