.breadcrumb {
  /* padding: 1rem 0;
  margin-bottom: 1rem; */
  font-size: 1rem;
}

.breadcrumb_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.breadcrumb_item {
  display: flex;
  align-items: center;
  color: var(--grey);
  font-size: 1rem;
}

.breadcrumb_link {
  color: var(--brand-blue);
  text-decoration: none;
  transition: color 0.2s ease;
  text-transform: capitalize;
}

.breadcrumb_link:hover {
  color: var(--brand-blue);
  text-decoration: none;
}

.breadcrumb_current {
  color: var(--black);
  font-weight: 700;
}

.breadcrumb_separator {
  margin: 0 0.5rem;
  color: var;
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    padding: 0.75rem 0;
  }

  .breadcrumb_item {
    font-size: 0.8rem;
  }
}