.summary_section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.total_edcs_container,
.total_feeder_container,
.total_regions_container,
.total_substations_container,
.total_meters_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #efefef;
    border-radius: 1.5rem;
    width: 100%;
}

.total_meters_main_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.total_title_value,
.total_meters {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 100%;
}

.total_main_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.TNEB_icons {
    width: 4rem;
    height: 4rem;
    filter: invert(48%) sepia(50%) saturate(3207%) hue-rotate(178deg) brightness(91%) contrast(101%);
}

.summary_value {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metrics_communication_info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 100%;
}

.overall_communication_status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.communication_status_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

.communication_value {
    font-size: 1rem;
    color: var(--black);
    font-weight: 700;
    background-color: var(--primary-bg);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.communication_positive_percentage {
    font-size: 2.5rem;
    color: var(--positive);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    font-weight: 700;
}

.communication_positive_arrow {
    width: 1rem;
    height: 1rem;
    background-color: var(--positive);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.15rem;
    margin-bottom: 0.75rem;
}

.communication_negative_percentage {
    font-size: 2.5rem;
    color: var(--danger);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    font-weight: 700;
}

.communication_negative_arrow {
    width: 1rem;
    height: 1rem;
    background-color: var(--danger);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.15rem;
    transform: rotate(180deg);
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 1100px) {
    .summary_section {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .total_meters_container {
        flex-direction: column;
        align-items: flex-start;
    }
    .overall_communication_status {
        flex-direction: column;
    }
    .communication_value {
        align-items: center;
    }
    
}
@media screen and (max-width: 760px) {
    .summary_section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .total_edcs_container,
    .total_feeder_container,
    .total_regions_container,
    .total_substations_container,
    .total_meters_container {
        flex: unset;
        min-width: unset;
        max-width:unset;;
    }
}

@media screen and (max-width: 1024px) {
    .summary_section{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .total_edcs_container,
    .total_feeder_container,
    .total_regions_container,
    .total_substations_container,
    .total_meters_container {
        flex: 1 1 calc(50% - 1rem);
        min-width: 300px;
        max-width: calc(50% - 1rem);
    }
}
